.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 180px) !important;
}

.modalloader {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 180px) !important;
}