.main-wrapper {
  height: 100vh;
  width: 70%;
  margin: auto;
  position: relative;
}

.title {
  text-align: center;
}
.main {
  border-radius: 20px;
}

.add {
  position: fixed;
  bottom: 10%;
  right: 5%;
}
